
body {
	text-align: center;
	background-image: url("../img/skull-and-bones.jpg");
}

.mainContainer {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
	background: #CCFFCC;
	border-width: 1px;
}

.players {
	border-style: none;
	height: 220px;
	background: cyan;
	position: relative;
}

.table {
	border-style: solid;
	height: 192px;
	padding: 10px;
}

.your-hand {
	border-style: solid;
	height: 192px;
	float: bottom;
}

.player {
	border-style: solid;
	height: 200px;
	width: 150px;
	position: relative;
	background: grey;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
}

.minCard-NEW {
    zoom: 0.4;
    -moz-transform: scale(0.4);
	margin: 10px;
}

.miniCard {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 3px;
    margin: 2px;
    float: left;
    float: top;
    width: 60px;
    height: 80px;
    font-family: "Helvetica";
	font-weight: bold;
	font-size: 10pt;
	line-height: 100%;
	text-align: left;
}

.card {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin: 5px;
    float: left;
    float: top;
    width: 120px;
    height: 160px;
 }

.in-background{
    zoom: 0.6;
    -moz-transform: scale(0.6);
	margin: 8px;
}

.played-card{
    zoom: 0.9;
    -moz-transform: scale(0.9);
	margin: 6px;
}
 
.front {
	font: 14px "Helvetica" bold;
}

.back {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 20pt;
	line-height: 90%;
	text-align: left;
}

.white {
	background: white;
	color: black;
}

.black {
	background: black;
	color: white;
}

.person {
	content:url("../img/person.png");
	width:60px;
	height:60px;
}

.personName {
	font: 20px "Arial Black" bold;
}

.circle {
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:12px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#990099
}
