
body {
	text-align: center;
/*	background-image: url("../img/skull-and-bones.jpg");   */
	background: #FFFFCC;
	margin: none;
}

.mainContainer {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
	background: #FFFFCC;
	border-width: 0px;
}

.players {
	border-style: none;
	height: 220px;
}

.table {
	border-style: none;
	height: 192px;
	padding: 5px;
	position: relative;
}

.your-hand {
	border-style: none;
	height: 192px;
	vertical-align: bottom;
	position: relative;
	bottom: 0px;
}

.game-control {
border-style: solid;
	border-width: 2px;
	height: 200px;
	width: 156px;
	position: relative;
	background: grey;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	border-radius: 6px;
}

.player {
	border-style: solid;
	border-width: 2px;
	height: 200px;
	width: 133px;
	position: relative;
	background: grey;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	border-radius: 6px;
}

.active {
	background: #CCFF99;
}

.inactive {
	background: #FFFFCC;
	border-color: #FFFF66;
	border-style: dotted;
}

.reader {
	background: #FF9966;
}

.minCard-NEW {
    zoom: 0.4;
    -moz-transform: scale(0.4);
	margin: 10px;
}

.miniCard {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 3px;
    margin: 2px;
    float: left;
    float: top;
    width: 54px;
    height: 70px;
    font-family: "Helvetica";
	font-weight: bold;
	font-size: 9pt;
	line-height: 100%;
	text-align: left;
	position: relative;
}

.won-cards {
	text-align: center;
	width: 100%;
	vertical-align: text-bottom;
	position: absolute;
    bottom: 10px;
	font-size:18px;
	color: red;
    left: 0;
}

.card {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin: 5px;
    float: left;
    float: top;
    width: 120px;
    height: 160px;
 }

.in-background{
    zoom: 0.6;
    -moz-transform: scale(0.6);
	margin: 8px;
}

.played-card{
    zoom: 0.9;
    -moz-transform: scale(0.9);
	margin: 6px;
}
 
.front {
	font: 14px "Helvetica" bold;
}

.back {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 20pt;
	line-height: 90%;
	text-align: left;
}

.white {
	background: white;
	color: black;
}

.black {
	background: black;
	color: white;
}

.person-img {
	content:url("../img/person.png");
	height:60px;
	display: block;
	text-align:center;
}

.personName {
	font: 18px "Arial Black" bold;
}

.circle {
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:12px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#990099
}
