
body {
	text-align: center;
/*	background-image: url("../img/skull-and-bones.jpg");   */
	background: #FFFFCC;
	margin: none;
}

.mainContainer {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
	background: #FFFFCC;
	border-width: 0px;
}

.players {
	border-style: none;
	height: 220px;
}

.table {
	border-style: none;
	height: 192px;
	padding: 5px;
	position: relative;
}

.your-hand {
	border-style: none;
	height: 192px;
	vertical-align: bottom;
	position: relative;
	bottom: 0px;
}

.game-control {
border-style: solid;
	border-width: 2px;
	height: 200px;
	width: 156px;
	position: relative;
	background: grey;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	border-radius: 6px;
}

.player {
	border-style: solid;
	border-width: 2px;
	height: 200px;
	width: 133px;
	position: relative;
	background: grey;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	border-radius: 6px;
}

.active {
	background: #CCFF99;
}

.inactive {
	background: #FFFFCC;
	border-color: #FFFF66;
	border-style: dotted;
}

.reader {
	background: #FF9966;
}

.minCard-NEW {
    zoom: 0.4;
    -moz-transform: scale(0.4);
	margin: 10px;
}

.miniCard {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 3px;
    margin: 2px;
    float: left;
    float: top;
    width: 54px;
    height: 70px;
    font-family: "Helvetica";
	font-weight: bold;
	font-size: 9pt;
	line-height: 100%;
	text-align: left;
	position: relative;
}

.won-cards {
	text-align: center;
	width: 100%;
	vertical-align: text-bottom;
	position: absolute;
    bottom: 10px;
	font-size:18px;
	color: red;
    left: 0;
}

.card {
	border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin: 5px;
    float: left;
    float: top;
    width: 120px;
    height: 160px;
 }

.in-background{
    zoom: 0.6;
    -moz-transform: scale(0.6);
	margin: 8px;
}

.played-card{
    zoom: 0.9;
    -moz-transform: scale(0.9);
	margin: 6px;
}
 
.front {
	font: 14px "Helvetica" bold;
}

.back {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 20pt;
	line-height: 90%;
	text-align: left;
}

.white {
	background: white;
	color: black;
}

.black {
	background: black;
	color: white;
}

.person-img {
	content:url("../img/person.png");
	height:60px;
	display: block;
	text-align:center;
}

.personName {
	font: 18px "Arial Black" bold;
}

.circle {
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:12px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#990099
}




.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #244d66);
  background-image: -moz-linear-gradient(top, #3498db, #244d66);
  background-image: -ms-linear-gradient(top, #3498db, #244d66);
  background-image: -o-linear-gradient(top, #3498db, #244d66);
  background-image: linear-gradient(to bottom, #3498db, #244d66);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Popup */
#popup {	display:none; }

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}












.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
